<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car Table</title> //Название этой страницы
</head>
<body>
<table>
    <tr>
        <th>Model</th>
        <th>Series</th>
        <th>Speed</th>
    </tr>

    <tr th:each="car: ${cars}"> // цикл типа for each, в переменной car будет лежать каждый элемент коллекции cars
        <td th:text="${car.getModel()}">model</td>
        <td th:text="${car.getSeries()}">series</td>
        <td th:text="${(car.getSpeed())}">speed</td>
    </tr>
</table>
</body>
</html>